### IVY PROPERTIES ###
#the current version of your application (used when publishing)
version=3.3.1
publish.overwrite=false

svn.user.name=adrian
#password for subversion
#svn.user.password=
#or path to private keyfile
ssh.keyfile=/home/adrian/.ssh/id_rsa

war.deploy.dir=/opt/java/tomcat/webapps

### JUNIT PROPERTIES ###
#only set this property if you want to limit what unit tests are run from ant
#junit.includes=**/*SchedulerManagerTest.java

#ivy.skip.retrieve=true

ivysettings.dir=.